<div class="container-fluid">
  <h1>
    <%= @user.name%>
  </h1>

  <div class="list-group col-xs-12 col-md-12">
    <h3>Saved Tests</h3>
    <% @user.favorites do |favorite| %>
      <%= link_to test_path(test), class: "list-group-item" do %>
        <%= test.procedure_name %>
      <% end %>
    <% end %>
  </div>

</div>
