<div class="page-header">
  <%= link_to new_test_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Test
  <% end %>
  <h1 Listing>tests</h1>
</div>

      <%- @tests.each do |test| %>
      <%= test.procedure_name %>
      <% end %>
