<% if @tests.empty? %>
  <%= render 'empty_tests' %>
<% else %>
  <div id="main">
    <% if logged_in? %>
      <%= link_to "New Test", new_test_path, class: 'new-home-button btn btn-primary pull-right' %>
    <% end %>
    <h1> Test Catalog</h1>
    <div class='row'>
      <div class="col-sm-12">
        <div id="test-list">
          <div class="list-group tests-list-group">
            <%= render @tests %>
          </div>
        </div>
        <%= paginate @tests %>
      </div>
    </div>
  </div>
<%end%>
