<% if @tests.empty? %>
  <%= render 'empty_tests' %>
<% else %>
  <div class="colum col-md-10" id="main">
    <% if logged_in? %>
      <%= link_to "New Test", new_test_path, class: 'new-home-button btn btn-primary pull-right' %>
    <% end %>
    <h1 class="colum col-md-10"> Test Catalog</h1>
    <div id="test-list" class="container col-md-12">
      <%- @tests.each do |test| %>
      <ul>
        <li>
          <%= link_to "#{test.procedure_name}", test_path(test) %>
        </li>
      </ul>
      <% end %>
    </div>
    <%= paginate @tests %>
  </div>
<%end%>
